.background{
  margin-top:25px;
  margin-left:25px;
}

.boardRow{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  width: 180px;
  height: 60px;
  background-color: white;
  border: 1 px solid black;
}

.square{
  padding:10px;
  border: 1px solid black;
  background-color: white;
  font-size:25px;
  font-weight: bold;
  color:black;
}

.x{
  padding:10px;
  border: 1px solid black;
  background-color: white;
  color:rgb(184, 40, 40);
  font-size:25px;
  font-weight: bold;
}
.o{
  padding:10px;
  border: 1px solid black;
  background-color: white;
  color:rgb(17, 92, 17);
  font-size:25px;
  font-weight: bold;
}

.highlight{
  background-color: yellow;
}

.status{
  color:white;
  margin-top: 10px;
  margin-left: 25px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.reset{
  display:inline-block;
  width:fit-content;
  margin-top: 20px;
  margin-left: 70px;
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  color:black;
  background-color: white;
}
